/* .scrollHide::-webkit-scrollbar {
  width: 0 !important;
} */

/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1be;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #888;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.scrollHide::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

.scrollHide::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: transparent;
}

.scrollHide:hover::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: #6c6b6b;
}
